.loginContainer{
    /* width: 100%;
    height: 100vh; */
    /* background-image: url(../../images/background.jpg);
    background-size: cover;
    background-repeat: space; */
}

.logoIdentify{
    max-width: 76px;
}